<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <% if(username){ %> 
    <h1>Welcome! <%= username %> <a href="/logout">Logout</a></h1>
    <a href="/blog/create">Create a new blog</a>
    <% } else { %>
        <h1>Welcome guest!</h1>
        <a href="/register">Register</a> | <a href="/login">Loging</a>
        <% } %>  

            <hr>
        <% if(blogs) {%>
            <ul>
                <% for(let i = 0; i < blogs.length; i++) {%>
                    <li><a href=<%= "/blog/"  + blogs[i]._id %>> <%= blogs[i].title %></a> </li> 
                    
                    <% } %> 
            </ul> 
         
            <% } else {%>
                <p>It's empty here!</p> 
                <% } %> 
</body>
</html>