<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog register</title>
</head>
<body>
    <% if(errors) { %>
        <ul> 
        <% for(let i = 0; i < errors.length; i++) { %>
            <li style="color: red;"><%= errors[i].msg %> </li>
            <% } %>
        </ul>
        <% } %>  


    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="email" placeholder="E-mail"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="password" name="confirm_password" placeholder="Password confirmation"><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>