<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new blog</title>
</head>
<body>
    <% if(errors) { %>
        <ul> 
        <% for(let i = 0; i < errors.length; i++) { %>
            <li style="color: red;"><%= errors[i].msg %> </li>
            <% } %>
        </ul>
        <% } %>  


    <form action="/blog/create" method="post">
        <input type="text" name="title" placeholder="Enter a blog title"><br>
        <textarea name="description" placeholder="Enter a blog desription" cols="60" rows="20"></textarea><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>